html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightpink;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Style the top navigation bar */
.my_header {
  margin: 0;
  padding: 0;

  overflow: hidden;
  height: 20%;
  background-color: grey;
}

/* Style the topnav links */
.my_header h1 {
  padding: 14px 16px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  overflow: auto;
}

.my_header #logo1{
  margin: 0;
  padding-left: 0px;
  margin-left: 0px;
  float: left;
}

.my_header #logo2{
  margin: 0;
  padding-left: 0px;
  margin-right: 0px;
  float: right;
}

/* Style the content */
.content {
  margin: 0;
  padding: 10px;

  background-color: lightpink;
}

/* Style the footer */
.footer {
  margin: 0;
  padding-left: 10px;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.footer p{
  color: black;
  text-align: left;
  font-size: 10px;
}

#footer_time{
  color: black;
  text-align: right;
  font-size: 10px;
}