body {
  margin: 0;
  min-width: 500px;

  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightpink;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Style the top navigation bar */
.my_header {
  margin: 0px;
  padding: 0;
  width: 100%;

  display: inline-block;
  background-color: black;
}

/* Style the topnav links */
.my_header h1 {
  padding: 12px 16px;
  /*display: block;*/
  color: #f2f2f2;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.my_header #logo1{
  margin: 0;
  padding-top: 10px;
  float: left;
}

.my_header #logo2{
  margin: 0;
  padding-right: 10px;
  float: right;
}

/* Style the content */
.content {
  margin: 0;
  padding: 10px;
  background-color: lightpink;
}

/* Style the img gallery */
.gallery_container {
  margin: 23px;
  
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.gallery_container .gallery_frame {
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  float: left;
}

.gallery_frame img {
  border: 1px solid lightpink;
}

.gallery_frame img:hover {
  border: 1px solid #777;
}

.img_desc {
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

/* Style the footer */
.footer {
  margin: 0;
  padding-left: 10px;

  bottom: 0px;
  width: 100%;
  background-color: #f1f1f1;
  position: fixed;
}

.footer p{
  color: black;
  text-align: left;
  font-size: 10px;
}

#footer_time{
  color: black;
  text-align: right;
  font-size: 10px;
}