<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <!-- Keine Sau sagt was aber es MUSS dieser Pfad sein, da hat sich wieder jemand viele Gedanken gemacht bei der Flask Entwicklung NICHT!!!-->
    <link rel="stylesheet" href='../static/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="topnav">
        <p>My Smart Home</p>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2016 MMU-089</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>