<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <!-- Keine Sau sagt was aber es MUSS dieser Pfad sein, da hat sich wieder jemand viele Gedanken gemacht bei der Flask Entwicklung NICHT!!!-->
    <link rel="stylesheet" href='../static/style.css' />
  </head>
  <body>
    <div class="my_header">
      <img id="logo1" src="../static/berry logo.png" width="100" height="100">
      <img id="logo2" src="../static/smart home haus blau.jpg" width="100" height="100">
      <h1>My Smart Home</h1>
    </div>
    {% block body %}
    {% endblock %}
    <footer class="footer">
      <p>© 2020 MMU-089</p>
    </footer>
  </body>
</html>